<div class="container-fluid">
  <div class="row inputs">
    <div class="col-md-3 text-center">
      <!-- <img src="assets/img/ico-inputs.svg" alt="" class="bm-icon"> -->
      <h1 class="input-title mt-5">Inputs</h1>
    </div>
    <div class="col-md-9">
      <div class="row pt-5">
        <div class="col-md-6 mb-4">
          <h3>Financial Capital</h3>
          <ul>
            <li>QAR 3.5 billion Investment</li>
            <li>34,800 Shreholder Base</li>
            <li>Listing on Qatar Stock Exchange</li>
          </ul>
        </div>

        <div class="col-md-6 mb-4">
          <h3>Manufactured Capital</h3>
          <ul>
            <li> State-of-the-art facilities, equipment and technologies</li>
            <li> Resilient supply chain</li>
            <li> Robust and integrated value chain</li>
            <li> 3,450 Points of Sale</li>
          </ul>
        </div>

        <div class="col-md-6 mb-4">
          <h3> Human Capital </h3>
          <ul>
            <li> Experienced leadership team</li>
            <li> 1,700+ employees</li>
            <li> Strong corporate culture and values</li>
          </ul>
        </div>

        <div class="col-md-6 mb-4">
          <h3> Social & Relationship Capital </h3>
          <ul>
            <li> 94.2% Qatari owned</li>
            <li> Strategic relationship with Government of Qatar</li>
            <li> Reputation for quality with trusted
              products and brands</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center inputs segments value p-3 mt-0">
    <div class="col-md-6 text-primary fw-bold">
      <h2 class="mb-0 lh-1">How we create value</h2>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <p class="text-dark mb-0 "> Baladna is Qatar's Leading Dairy &
        Beverages Company.</p>
    </div>
  </div>

  <div class="row segments vmv">
    <div class="col-md-4">
      <div class="box ">
        <img src="assets/img/vision.png" alt="" class="h-ico mb-3">
        <h2>Our Vision</h2>
        <p> We aim to be the most trusted brand of nutritional foods and healthy beverages in Qatar and to expand to new
          markets. </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box t-delay-4">
        <img src="assets/img/mission.png" alt="" class="h-ico mb-3">

        <h2>Our Mission</h2>
        <p>We will achieve our vision by ensuring consumers’ wellness by providing natural, nutritious and tasty foods
          and beverages, while maintaining the most rigorous food safety and biosecurity protocols. </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box t-delay-8">
        <img src="assets/img/principals.png" alt="" class="h-ico mb-3">
        <h2>Our Principles</h2>
        <p>
          <ul>
            <li> Supporting food security</li>
            <li> Raising the level of veterinary care</li>
            <li> Caring of livestock</li>
            <li> Natural and fresh products</li>
            <li> Adherence to Qatari traditional values</li>
          </ul>
        </p>

      </div>
    </div>
  </div>


  <div class="row segments pillars">
    <div class="col-md-4 ">
      <div class="box fade-right">
        <!-- <h2>Strategic Pillar</h2> -->
        <img src="assets/img/innovations.png" alt="" class="h-ico mb-3">

        <h3>Innovation</h3>
        <p>
          Innovation has always been in the heart of what we do at Baladna. Our UHT milk is the first one to
          be produced locally, in a farm only 60 kms away from Doha, making it a
          preferred choice for customers owing to its freshness quotient.
        </p>
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <div class="bm-circle">
        <!-- <img src="assets/img/bm-circle.svg" alt="" class="load_svg"> -->
        <img src="assets/img/bm-circle.png" alt="" class="img-fluid">
      </div>
    </div>

    <div class="col-md-4">
      <div class="box fade-left">
        <!-- <h2>Strategic Pillar</h2> -->
        <img src="assets/img/quality.png" alt="" class="h-ico mb-3">

        <h3>Quality</h3>
        <p>
          From farm to fork. Bringing fresh, healthy and nutritious food to the people of Qatar is a top priority for
          Baladna.
          Baladna was awarded ISO 22000:2005 FSMS certification, which is the highest global certification scheme for
          food safety and
          quality management systems and is recognized by the Global Food Safety Initiative (GFSI).
        </p>
      </div>
    </div>
  </div>

  <div class="row segments">
    <div class="col-md-6">
      <div class="box segments-box">
        <img src="assets/img/segments.png" alt="" class="h-ico mb-3">
        <h2>Our Segments & Brands</h2>
        <div class="row">
          <div class="col-md-6">
            <ul class="list">
              <li>Fresh Milk</li>
              <li>UHT Milk</li>
              <li>Laban</li>
              <li>Juice</li>
              <li>Dessert</li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul>
              <li> Yoghurt</li>
              <li> Labneh</li>
              <li> Cheese</li>
              <li> Creams</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box t-delay-4 segments-box">
        <!-- <img src="assets/img/drivers.svg" alt="" class="h-ico mb-3"> -->
        <h2>Business drivers</h2>
        <div class="row align-items-center no-gutters">
          <div class="col-auto"> <img src="assets/img/farms.png" class="bd-ico" alt=""> </div>
          <div class="col-md">
            <h3>Our Farms</h3>
            <p>2 farms with over 23,500 heads of cattle</p>
          </div>
        </div>

        <div class="row align-items-center no-gutters">
          <div class="col-auto"><img src="assets/img/manufactring.png" class="bd-ico" alt=""> </div>
          <div class="col-md">
            <h3>Our Manufacturing</h3>
            <p>State-of-the-art processing and packaging facilities</p>
          </div>
        </div>

        <div class="row align-items-center no-gutters">
          <div class="col-auto"> <img src="assets/img/innovations.png" class="bd-ico" alt=""> </div>
          <div class="col-md">
            <h3>Our Strategic Product Innovation</h3>
            <p>268 SKUs in current product portfolio across all brands</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row inputs mt-0">
    <div class="col-md-3 text-center">
      <!-- <img src="assets/img/ico-outputs.svg" alt="" class="bm-icon"> -->
      <h1 class="input-title mt-5">Outputs</h1>
      <div class="call-out mt-5">
        Underpinned by a strong foundation of robust corporate governance, strategic risk management and an enduring
        commitment to our nation and the communities we serve.
      </div>
    </div>
    <div class="col-md-9">
      <div class="row pt-5">
        <div class="col-md-6 mb-4">
          <h3>Solid Financial Results</h3>
          <div class="row">
            <div class="col-md-6">
              <h5 class="fw-bold mt-4 mb-0">QR 49.2 Million</h5>
              <small>Free Cash Flow</small>
            </div>
            <div class="col-md-6">
              <h5 class="mt-4 mb-0 fw-bold">QR 134 Million</h5>
              <small>Profits</small>
            </div>
            <div class="col-md-6">
              <h5 class="mt-4 mb-0 fw-bold"> QR 297 Million</h5>
              <small>EBITDA</small>
            </div>
            <div class="col-md-6">
              <h5 class="mt-4 mb-0 fw-bold">QR 1.445</h5>
              <small>Share price</small>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <h3>Resilient Workforce</h3>
          Low employee turnover <br>
          Over 35 nationalities
        </div>

        <div class="col-md-6 mb-4">
          <h3> Operational Excellence </h3>
          Operational efficiency & cost optimisation <br>
          Product innovation (SKUs +14% y-o-y) Food security for Qatar
        </div>

        <div class="col-md-6 mb-4">
          <h3> Strong Brand Equity </h3>
          Market-leading brands (introduction of budget-conscious Awafi line)
          Market share leader across key segments
          <h1 class="text-light">(#1 in Dairy)</h1>
        </div>
      </div>
    </div>
  </div>
</div>