<div class="container-fluid">
  <div class="row inputs">
    <div class="col-md-3 text-center">
      <!-- <img src="assets/img/ico-inputs.svg" alt="" class="bm-icon"> -->
      <h1 class="input-title mt-5">المدخلات</h1>
    </div>
    <div class="col-md-9">
      <div class="row pt-5">
        <div class="col-md-6 mb-4">
          <h3>رأس المال </h3>
          <li>اسـتثمار بقيمـة 3.5 مليار ريال قطري </li>
          <li>قاعدة مسـاهمين تضم 34,800 مساهم </li>
          <li>إدراج أسـهم الشـركة في بورصة قطـر للأوراق المالية </li>
          </ul>
        </div>

        <div class="col-md-6 mb-4">
          <h3>التصنيع</h3>
          <ul>
            <li>منشـآت ومعدات وتقنيات متطورة</li>
            <li>سلسـلة توريد مرنة </li>
            <li>سلسـلة قيمـة متكاملة وفعّالة</li>
            <li>أكثـر مـن 3,450 نقطة بيع</li>
          </ul>
        </div>

        <div class="col-md-6 mb-4">
          <h3> الموارد البشرية
          </h3>
          <ul>
            <li> فريـق إدارة قيـادي يتمتع بكفاءات متميزة </li>
            <li> أكثـر من 1,700 موظف </li>
            <li> ثقافـة وقيم مؤسسـية متميزة</li>
          </ul>
        </div>

        <div class="col-md-6 mb-4">
          <h3> رأس المال الاجتماعي وعلاقات الشراكة </h3>
          <ul>
            <li>ملكيـة قطرية بنسـبة 94.2% </li>
            <li>علاقـات اسـتراتيجية مع حكومة دولة قطر </li>
            <li>سـمعة متميـزة قائمة على الجـودة وطـرح المنتجات والعلامات التجاريـة الموثوقة </li>

          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center inputs segments value p-3 mt-0">
    <div class="col-md-6 text-primary fw-bold">
      <h2 class="mb-0 lh-1">آلية خلق وتعزيز القيمة</h2>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <p class="text-dark mb-0 ">
        ”بلدنا“ هي الشركة الرائدة لمنتجات الألبان والمشروبات في قطر

      </p>
    </div>
  </div>

  <div class="row segments vmv">
    <div class="col-md-4">
      <div class="box ">
        <img src="assets/img/vision.png" alt="" class="h-ico mb-3">
        <h2>رؤيتنا
        </h2>
        <p> أن تصبح وتبقى ”بلدنا“ المورد الأفضل في قطاع المنتجات الغذائية الطبيعية والمشروبات الصحية في قطر، وأن تتوسع
          في دخول أسواق جديدة.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box t-delay-4">
        <img src="assets/img/mission.png" alt="" class="h-ico mb-3">

        <h2>مهمتنا
        </h2>
        <p>
          ضمان سلامة المستهلكين من خلال توفير الأطعمة والمشروبات الطازجة والمغذية واللذيذة، مع الالتزام في نفس الوقت
          بتطبيق معايير صارمة في مجال السلامة في إنتاج الغذاء وبروتوكولات الأمن الحيوي
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box t-delay-8">
        <img src="assets/img/principals.png" alt="" class="h-ico mb-3">
        <h2>مبادئنا</h2>
        <p>
          <ul>
            <li> دعم الأمن الغذائي</li>
            <li> رفع مستوى الرعاية الطبية للأبقار</li>
            <li> العناية بالحيوانات والمواشي</li>
            <li> منتجات طبيعية طازجة</li>
            <li> التمسّك بقيم التراث القطري</li>
          </ul>
        </p>

      </div>
    </div>
  </div>


  <div class="row segments pillars">
    <div class="col-md-4 ">
      <div class="box fade-right">
        <!-- <h2>Strategic Pillar</h2> -->
        <img src="assets/img/innovations.png" alt="" class="h-ico mb-3">

        <h3>الابتكار</h3>
        <p>
          حرصت شركة ”بلدنا“ منذ تأسيسها على ترسيخ الابتكار كقيمة جوهرية لجميع أنشطة أعمالها. ويعتبر الحليب طويل الأجل
          المعالج بالحرارة العالية أول منتج يتم تصنيعه محلياً في مزرعة تبعد 60 كيلومتراً فقط عن العاصمة الدوحة، مما جعله
          الخيار المفضل للمستهلكين نظراً لجودة طعمه الطازج.
        </p>
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <div class="bm-circle">
        <!-- <img src="assets/img/bm-circle.svg" alt="" class="load_svg"> -->
        <img src="assets/img/bm-circle-ar.png" alt="" class="img-fluid">
      </div>
    </div>

    <div class="col-md-4">
      <div class="box fade-left">
        <!-- <h2>Strategic Pillar</h2> -->
        <img src="assets/img/quality.png" alt="" class="h-ico mb-3">

        <h3>الجودة</h3>
        <p>
          من المزرعة إلى المائدة. تضع ”بلدنا“ في مقدمة أولوياتها السعي لتوفير منتجات الأغذية الطازجة والصحية والمغذية
          لسكان دولة قطر. حصلت الشركة على شهادة ضمان الجودة 22000:2005 ISO لنظام إدارة سلامة الغذاء. وهو أعلى نظام
          اعتماد عالمي لأنظمة إدارة سلامة الأغذية والجودة ومعترف به من قبل مبادرة سلامة الغذاء العالمية (GFSI).
        </p>
      </div>
    </div>
  </div>

  <div class="row segments">
    <div class="col-md-6">
      <div class="box segments-box">
        <img src="assets/img/segments.png" alt="" class="h-ico mb-3">
        <h2>قطاعات الأعمال والعلامات التجارية</h2>
        <div class="row">
          <div class="col-md-6">
            <ul class="list">

              <li> الحليب الطازج </li>
              <li> الحليب طويل الأجل </li>
              <li> اللبن </li>
              <li> العصائر </li>
              <li> الحلويات </li>

            </ul>
          </div>

          <div class="col-md-6">
            <ul>
              <li> الزبادي </li>
              <li> اللبنة </li>
              <li> منتجات الأجبان </li>
              <li> الكريمة </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box t-delay-4 segments-box">
        <!-- <img src="assets/img/drivers.svg" alt="" class="h-ico mb-3"> -->
        <h2>عوامل دعم العمل التجاري</h2>
        <div class="row align-items-center no-gutters">
          <div class="col-auto"> <img src="assets/img/farms.png" class="bd-ico" alt=""> </div>
          <div class="col-md">
            <h3>المزارع</h3>
            <p>مزرعتان تضمّان أكثر من 23٫500 رأس من المواشي
            </p>
          </div>
        </div>

        <div class="row align-items-center no-gutters">
          <div class="col-auto"><img src="assets/img/manufactring.png" class="bd-ico" alt=""> </div>
          <div class="col-md">
            <h3>التصنيع
            </h3>
            <p>منشآت متطورة للتصنيع والتغليف
            </p>
          </div>
        </div>

        <div class="row align-items-center no-gutters">
          <div class="col-auto"> <img src="assets/img/innovations.png" class="bd-ico" alt=""> </div>
          <div class="col-md">
            <h3>الابتكار الاستراتيجي في تطوير المنتجات
            </h3>
            <p>
              268 منتج ضمن مجموعات المنتجات الحالية
              للشركة وعبر كافة العلامات التجارية
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row inputs mt-0">
    <div class="col-md-3 text-center">
      <!-- <img src="assets/img/ico-outputs.svg" alt="" class="bm-icon"> -->
      <h1 class="input-title mt-5">المخرجات
      </h1>
      <div class="call-out mt-5">
        تدعم هذه الإنجازات قاعدة راسخة تقوم على الحوكمة القوية والإدارة الاستراتيجية للمخاطر، والتزامنا المستمر نحو شعب
        دولة قطر والمجتمعات التي نقوم بخدمتها.
      </div>
    </div>
    <div class="col-md-9">
      <div class="row pt-5">
        <div class="col-md-6 mb-4">
          <h3>نتائج مالية متميزة
          </h3>
          <div class="row">
            <div class="col-md-6">
              <h5 class="fw-bold mt-4 mb-0"> 49.2 مليون ريال قطري </h5>
              <small>تدفق نقدي حر </small>
            </div>
            <div class="col-md-6">
              <h5 class="mt-4 mb-0 fw-bold">134 مليون ريال قطري
              </h5>
              <small>صافي أرباح
              </small>
            </div>
            <div class="col-md-6">
              <h5 class="mt-4 mb-0 fw-bold"> ٢97 مليون ريال قطري
              </h5>
              <small>الربح قبل الفائدة والضريبة والاستهلاك والاطفاء
              </small>
            </div>
            <div class="col-md-6">
              <h5 class="mt-4 mb-0 fw-bold"> 1.445 ريال قطري
              </h5>
              <small>سعر السهم
              </small>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <h3>فريق عمل يتمتع بالمرونة في مواجهة التحديات
          </h3>
          انخفاض معدل ترك الموظفين للعمل <br>
          أكثر من 35 جنسية
        </div>

        <div class="col-md-6 mb-4">
          <h3> التميز التشغيلي
          </h3>
          الكفاءة التشغيلية وتحسين الكلفة
          ابتكار المنتجات (زيادة عدد المنتجات بنسبة 14% مقارنة بالعام الماضي)
          المساهمة في تحقيق الأمن الغذائي بدولة قطر

        </div>

        <div class="col-md-6 mb-4">
          <h3> قيمة مرتفعة للعلامة التجارية
          </h3>
          علامات تجارية رائدة (طرح مجموعة منتجات ”عوافي“ بأسعار مناسبة) <br>
          الشركة الرائدة من حيث الحصة السوقية في أهم القطاعات

          <h1 class="text-light">(الشركة رقم 1 في قطاع منتجات الألبان)</h1>
        </div>
      </div>
    </div>
  </div>
</div>