// @font-face {
//   font-family: "VAG-Rounded";
//   src: url("../fonts/Raqi-ExtraLight.woff2") format("woff2"),
//     url("../fonts/Raqi-ExtraLight.woff") format("woff");
//   font-weight: 300;
//   font-style: normal;
// }

@font-face {
  font-family: "VAG-Rounded";
  src: url("../fonts/VAG-Light.woff2") format("woff2"),
    url("../fonts/VAG-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "VAG-Rounded";
  src: url("../fonts/VAG Rounded Regular.woff2") format("woff2"),
    url("../fonts/VAG Rounded Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VAG-Rounded";
  src: url("../fonts/VAG-Bold.woff2") format("woff2"),
    url("../fonts/VAG-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "VAG-Rounded";
  src: url("../fonts/VAG-Bold.woff2") format("woff2"),
    url("../fonts/VAG-Bold.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "OoredooArabic";
  src: url("../fonts/ar/OoredooArabic-Regular.woff2") format("woff2"),
    url("../fonts/ar/OoredooArabic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OoredooArabic";
  src: url("../fonts/ar/OoredooArabic-Bold.woff2") format("woff2"),
    url("../fonts/ar/OoredooArabic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OoredooArabic";
  src: url("../fonts/ar/OoredooArabic-Heavy.woff2") format("woff2"),
    url("../fonts/ar/OoredooArabic-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}